service gpu /system/bin/gpuservice
    class core
    user gpu_service
    group graphics readtracefs
    capabilities SYS_NICE SYS_RESOURCE
    task_profiles MaxPerformance
    writepid /dev/cpuset/foreground/tasks