service gpu /system/bin/gpuservice
    class core
    user gpu_service
    group graphics readtracefs
    capabilities SYS_NICE SYS_RESOURCE
    task_profiles MaxPerformance
    priority -10
    rlimit nice -10 -10
    ioprio rt 0
    rlimit rtprio 40 40
    writepid /dev/stune/top-app/tasks