service surfaceflinger /system/bin/surfaceflinger
    class core animation
    user system
    group system graphics drmrpc readproc input
    capabilities SYS_NICE
    onrestart restart --only-if-running zygote
    task_profiles MaxPerformance
    writepid /dev/stune/top-app/tasks